<%= link_to "See All Circuses", circuses_path %>
<%= link_to "See All Entertainers", entertainers_path %>

<h2><%= @circus.name %>:</h2>
<% @circus.entertainers.all.each do |entertainer| %>
  <p> Name: <%= link_to entertainer.name.capitalize, entertainer %></p>
  <p> Specialty: <%= entertainer.specialty %></p><br>
<% end %>
